@{
    ViewBag.Title = "Statistics";
}

@model ICollection<DomainStatisticsViewModel>

<h1>Domain Statistics</h1>

<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <td class="col-sm-4">Domain</td>
        <td class="col-sm-2">Count</td>
        <td class="col-sm-6">Last Updated</td>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        foreach (var stat in Model.OrderByDescending(m => m.Count))
        {
            <tr>
                <td>@stat.Domain</td>
                <td>@stat.Count</td>
                <td>@stat.LastUpdated.ToString("G")</td>
            </tr>
        }
    }
    else
    {
        <tr><td colspan="3">No data</td></tr>
    }
    </tbody>
</table>