@{
    ViewBag.Title = "WebHooks";
}

@model WebHooksViewModel

<div class="jumbotron">
    <h1>WebHooks</h1>
    <p class="lead">Subscribe/unsubscribe from WebHooks and see the current count of hooks received.</p>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="control-label">WebHooks Received</label>
        <span>@Model.Count</span>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default">Refresh Count</button>
        </div>
    </div>
}

<form class="js-register-form" data-uri="@Model.Uri" data-key="@Model.Key">
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default">Subscribe</button>
        </div>
    </div>
</form>

<form class="js-deregister-form">
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-default">Unsubscribe</button>
        </div>
    </div>
</form>


<!-- Modal -->
<div class="modal fade js-modal" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title js-modal-title" id="messageModalTitle"></h4>
            </div>
            <div class="modal-body js-modal-message">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            var $alert = $('.js-modal').modal({show: false});
            var $title = $('.js-modal-title');
            var $msg = $('.js-modal-message');

            $('.js-register-form').on('submit', function(e) {
                e.preventDefault();

                $alert.hide();

                var $this = $(this);
                var uri = $this.data('uri');
                var key = $this.data('key');

                $.ajax('/api/webhooks/registrations', {
                        type: 'POST',
                        data: JSON.stringify({
                            WebHookUri: uri,
                            Secret: key,
                            Description: 'WebJobs Demo WebHook'
                        }),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    })
                    .done(function(data, status) {
                        if (status) {
                            showMessage('Success', 'Your WebHook was successfully registered!');
                        } else {
                            showMessage('Error', data && data.Message ? data.Message : 'Unknown error');
                        }
                    })
                    .fail(function(err) {
                        showMessage('Error', err.responseJSON.Message);
                    });
            });

            $('.js-deregister-form').on('submit', function(e) {
                e.preventDefault();

                $.ajax('/api/webhooks/registrations', {
                        type: 'DELETE'
                    })
                    .done(function(data, status) {
                        if (status) {
                            showMessage('Success', 'Your WebHook was successfully removed!');
                        } else {
                            showMessage('Error', data && data.Message ? data.Message : 'Unknown error');
                        }
                    })
                    .fail(function(err) {
                        showMessage('Error', err.responseJSON.Message);
                    });
            });

            function showMessage(title, msg) {
                $title.text(title);
                $msg.text(msg);
                $alert.modal('show');
            }
        });
    </script>
}